@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e8b30f;
  --secondary: #793947;
  --third: #e0e0e0;
  --fourth: #00001f;
  --fifth: #343334;
  --sixth: #a6adba;
}
html{scroll-behavior:smooth;}

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  background-color: var(--fourth);
}

::-webkit-scrollbar {
  width: 12px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background: var(--fifth);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(232, 179, 15, .75);
}

.header-overlay {
  background: linear-gradient(180deg, rgba(0, 0, 31,1) 0%, rgba(0, 0, 31,0) 50%, rgba(0, 0, 31,1) 100%), radial-gradient(circle, rgba(0, 0, 31,0) 0%, rgba(0, 0, 31,.5) 100%);
}

.header-overlay2 {
  background: rgba(0, 0, 31, .4);
}
.header-overlay3 {
  background: rgba(0, 0, 31, .67);
}

.btn-gradient {
  background: linear-gradient(to right, #793947, #E8B30F, #793947);
  background-size: 300% 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 3px !important;
  color: var(--third) !important;
}

.btn-gradient:hover {
  background-position: 100% 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}


.btn {
  @apply bg-secondary outline-none border-none rounded-full px-8 btn-gradient
}

.text-gradient {
  background: linear-gradient(to right, #793947, #E8B30F, #793947);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  animation: gradientMove 7.5s infinite alternate;
}

@keyframes gradientMove {
  0%, 100% {
    background-position: 100% 100%;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  50% {
    background-position: 0% 0%;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}

.mini-mouse-scroll {
  animation: updown 2s infinite alternate;
}

@keyframes updown {
  0%, 100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(17.5px);
  }
}

.navlinks a {
  display: inline-block;
  position: relative;
}

.navlinks a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--primary);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navlinks a:hover:after { 
  width: 100%; 
  left: 0; 
}

.outer {
  background: linear-gradient(to bottom right, #793947 0%, #000 35%, #000 75%, #e8b30f 100%);
}

.arrow-down-group:hover .arrow-down {
  animation: updown 2s infinite alternate;
}

@keyframes updown {
  0%, 100% {
    transform: translateY(0);
  }
  25%{
    transform: translateY(3px);
  }

  75% {
    transform: translateY(-3px);
  }
}

.expanded-image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 9999;
}

.expanded-image-container.active {
  opacity: 1;
  visibility: visible;
}

.expanded-image-container img {
  max-width: 80%;
  max-height: 80%;
  border: 5px solid white;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--primary);
  transform: scale(1.5);
}