@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e8b30f;
  --secondary: #793947;
  --third: #e0e0e0;
  --fourth: #232123;
  --fifth: #343334;
  --sixth: #a6adba;
}
html{scroll-behavior:smooth;}

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  background-color: var(--fourth);
}

::-webkit-scrollbar {
  width: 12px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background: var(--fifth);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(232, 179, 15, .75);
}


/* .dragbar {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
} */

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .logo {
    width: 230px;
    height: 73px;
  }
}


.carousel-wrapper {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
}

.swiper-button-prev, .swiper-button-next {
  color: var(--primary);
  font-weight: 900;
  padding: 4px;
}
.swiper-button-prev:hover, .swiper-button-next:hover {
  color: var(--primary);
}

.modal-bg {
  background-color: rgba(0, 0, 0, .25);
}


.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

/* Loader */
/* 
.loader {
  scale: 3;
  height: 50px;
  width: 40px;
}

.box {
  position: relative;
  opacity: 0;
  left: 10px;
}

.side-left {
  position: absolute;
  background-color: hwb(347 15% 29%);
  width: 19px;
  height: 5px;
  -webkit-transform: skew(0deg, -25deg);
      -ms-transform: skew(0deg, -25deg);
          transform: skew(0deg, -25deg);
  top: 14px;
  left: 10px;
}

.side-right {
  position: absolute;
  background-color: hwb(347 18% 12%);
  width: 19px;
  height: 5px;
  -webkit-transform: skew(0deg, 25deg);
      -ms-transform: skew(0deg, 25deg);
          transform: skew(0deg, 25deg);
  top: 14px;
  left: -9px;
}

.side-top {
  position: absolute;
  background-color: hwb(347 38% 4%);
  width: 20px;
  height: 20px;
  rotate: 45deg;
  -webkit-transform: skew(-20deg, -20deg);
      -ms-transform: skew(-20deg, -20deg);
          transform: skew(-20deg, -20deg);
}

.box-1 {
  -webkit-animation: from-left 4s infinite;
          animation: from-left 4s infinite;
}

.box-2 {
  -webkit-animation: from-right 4s infinite;
          animation: from-right 4s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.box-3 {
  -webkit-animation: from-left 4s infinite;
          animation: from-left 4s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.box-4 {
  -webkit-animation: from-right 4s infinite;
          animation: from-right 4s infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}


@-webkit-keyframes from-left {
  0% {
    z-index: 20;
    opacity: 0;
    translate: -20px -6px;
  }

  20% {
    z-index: 10;
    opacity: 1;
    translate: 0px 0px;
  }

  40% {
    z-index: 9;
    translate: 0px 4px;
  }

  60% {
    z-index: 8;
    translate: 0px 8px;
  }

  80% {
    z-index: 7;
    opacity: 1;
    translate: 0px 12px;
  }

  100% {
    z-index: 5;
    translate: 0px 30px;
    opacity: 0;
  }
}

@keyframes from-left {
  0% {
    z-index: 20;
    opacity: 0;
    translate: -20px -6px;
  }

  20% {
    z-index: 10;
    opacity: 1;
    translate: 0px 0px;
  }

  40% {
    z-index: 9;
    translate: 0px 4px;
  }

  60% {
    z-index: 8;
    translate: 0px 8px;
  }

  80% {
    z-index: 7;
    opacity: 1;
    translate: 0px 12px;
  }

  100% {
    z-index: 5;
    translate: 0px 30px;
    opacity: 0;
  }
}

@-webkit-keyframes from-right {
  0% {
    z-index: 20;
    opacity: 0;
    translate: 20px -6px;
  }

  20% {
    z-index: 10;
    opacity: 1;
    translate: 0px 0px;
  }

  40% {
    z-index: 9;
    translate: 0px 4px;
  }

  60% {
    z-index: 8;
    translate: 0px 8px;
  }

  80% {
    z-index: 7;
    opacity: 1;
    translate: 0px 12px;
  }

  100% {
    z-index: 5;
    translate: 0px 30px;
    opacity: 0;
  }
}

@keyframes from-right {
  0% {
    z-index: 20;
    opacity: 0;
    translate: 20px -6px;
  }

  20% {
    z-index: 10;
    opacity: 1;
    translate: 0px 0px;
  }

  40% {
    z-index: 9;
    translate: 0px 4px;
  }

  60% {
    z-index: 8;
    translate: 0px 8px;
  }

  80% {
    z-index: 7;
    opacity: 1;
    translate: 0px 12px;
  }

  100% {
    z-index: 5;
    translate: 0px 30px;
    opacity: 0;
  }
}

Loader */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid var(--primary);
  animation: prixClipFix 2s linear infinite ;
}
.loader::after{
  border-color: var(--secondary);
  animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

.header-overlay {
  background: linear-gradient(180deg, rgba(35,33,35,1) 0%, rgba(35,33,35,0) 50%, rgba(35,33,35,1) 100%), radial-gradient(circle, rgba(35,33,35,0) 0%, rgba(35,33,35,.5) 100%);
}

.header-overlay2 {
  background: rgba(35, 35, 35, .4);
}
.header-overlay3 {
  background: rgba(35, 35, 35, .67);
}

.btn-gradient {
  /* background: linear-gradient(170deg, #793947 0%, #955839 25%, #B1762B 50%, #CC951D 75%, #E8B30F 100%); */
  background: linear-gradient(to right, #793947, #E8B30F, #793947);
  background-size: 300% 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 3px !important;
  color: var(--third) !important;
}

.btn-gradient:hover {
  background-position: 100% 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}


.btn {
  @apply bg-secondary outline-none border-none rounded-full px-8 btn-gradient
}

.text-gradient {
  /* background: linear-gradient(to bottom right, #793947 0%, #793947 25%, #000 50%, #e8b30f 75% #e8b30f 100%); */
  background: linear-gradient(to right, #793947, #E8B30F, #793947);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  animation: gradientMove 7.5s infinite alternate;
}

@keyframes gradientMove {
  0%, 100% {
    background-position: 100% 100%;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  50% {
    background-position: 0% 0%;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}

.mini-mouse-scroll {
  animation: updown 2s infinite alternate;
}

@keyframes updown {
  0%, 100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(17.5px);
  }
}

.navlinks a {
  display: inline-block;
  position: relative;
}

.navlinks a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--primary);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navlinks a:hover:after { 
  width: 100%; 
  left: 0; 
}

.outer {
  background: linear-gradient(to bottom right, #793947 0%, #000 35%, #000 75%, #e8b30f 100%);
}

.arrow-down-group:hover .arrow-down {
  animation: updown 2s infinite alternate;
}

@keyframes updown {
  0%, 100% {
    transform: translateY(0);
  }
  25%{
    transform: translateY(3px);
  }

  75% {
    transform: translateY(-3px);
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Stilovi za grid kontejner */
.grid-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 400px; /* Možete postaviti visinu koju želite */
  /* grid-auto-columns: 400px; */
  gap: 10px;
}

@media screen and (max-width: 1024px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Stilovi za div koji sadrži slike */
.image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* Stilovi za slike */
.image-container img, .image-container div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-gallery .outer:hover {
  cursor: zoom-in;
}

.grid-gallery .outer:hover img {
  transform: scale(1.1);
}

/* Stilovi za proširenu sliku */
.expanded-image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 9999;
}

.expanded-image-container.active {
  opacity: 1;
  visibility: visible;
}

.expanded-image-container img {
  max-width: 80%;
  max-height: 80%;
  border: 5px solid white;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}





.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}